/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* #Root Variables */
:root {
    --color-success: #42ba96;
    --color-danger: #DC3545;
    --color-info: #f3e36f;
    --color-dark: #1D1315;
    --color-dark-2: #000000;
    --color-light: #E9E6DE;

    --card-border-radius: 2rem;

    --borer-radius-1: 0.4rem;
    --borer-radius-2: 0.8rem;
    --borer-radius-3: 1.2rem;
    --borer-radius-4: 2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 1.5rem;
    --padding-3: 2rem;
    --padding-4: 3rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --primary-font: 'Montserrat', 'sans-serif';
    --secondary-font: 'Montserrat Alternates', 'sans-serif';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
h2 {
    font-size: 1.3rem;
    font-weight: 500;
}
h3 {
    font-size: 1rem;
    font-weight: 500;
}
h4 {
    font-size: 0.8rem;
    font-weight: 500;
}
h5 {
    font-size: 0.6rem;
    font-weight: 500;
}
p {
    font-size: 0.6rem;
    font-weight: 500;
}
.hide{
    display: none;
}



@media only screen and (max-width: 1000px) {
    
}



