/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* #Root Variables */
:root {
    --color-success: #42ba96;
    --color-danger: #DC3545;
    --color-info: #f3e36f;
    --color-dark: #1D1315;
    --color-dark-2: #000000;
    --color-light: #E9E6DE;

    --card-border-radius: 2rem;

    --borer-radius-1: 0.4rem;
    --borer-radius-2: 0.8rem;
    --borer-radius-3: 1.2rem;
    --borer-radius-4: 2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding-2: 1.5rem;
    --padding-3: 2rem;
    --padding-4: 3rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --primary-font: 'Montserrat', 'sans-serif';
    --secondary-font: 'Montserrat Alternates', 'sans-serif';
}

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: var(--primary-font);
    background-color: #f2f4f8;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
h2 {
    font-size: 1.3rem;
    font-weight: 500;
}
h3 {
    font-size: 1rem;
    font-weight: 500;
}
h4 {
    font-size: 0.8rem;
    font-weight: 500;
}
h5 {
    font-size: 0.6rem;
    font-weight: 500;
}
p {
    font-size: 0.6rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    display: block;
    color: #000000;
}

button {
    outline: none;
    border: none;
}
.hide{
    display: none;
}



.allNotes, .allFolders{
    margin: 1rem;
}
@media (min-width: 1024px) {

    .allNotes,
    .allFolders
    {
        margin: 3rem;
    }
}
/* #All Notes */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    background-color: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    width: 100%;
    margin-top: 0.75rem;
    overflow-y: hidden;
}

.navBarListItems {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBarListItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarListItemName,
.navBarListItemNameActive {
    margin-top: 0.25rem;
    font-size: 14px;
    font-weight: 600;
    color: #8f8f8f;
}

.navBarListItemNameActive {
    color: #2c2c2c;
}